.dynasty-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 550px;
  border-radius: 5px;
  gap: 1rem;
  position: relative;
}

.dynasty-container img {
  height: 100%;
  width: auto;
  border-radius: 5px;
  z-index: 2;
}
.dynasty-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  z-index: 2;
  padding: 1rem 0;
  background-color: var(--off-white);
}

.border-accent {
  width: 70%;
  height: 100%;
  border: solid 1px var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 0;
}

.dynasty-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  width: 40%;
  background-color: var(--off-white);
  z-index: 1;
  padding: 2rem 0 2rem 0;
  position: relative;
}

.dynasty-text-container a {
  position: absolute;
  bottom: -3rem;
  padding: 1rem 2rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  border: none;
  z-index: 1;
  border: solid 1px var(--black);
  cursor: pointer;
  text-decoration: none;
}

.dynasty-text-container a:hover {
  background-color: transparent;
  color: var(--black);
}

.dynasty-text-container h4 {
  font-size: 1.8rem;
  border-left: solid 1px var(--black);
  padding-left: 1rem;
  z-index: 1;
}

.dynasty-text-container p {
  z-index: 1;
}

#dynasty-bg-accent {
  position: absolute;
  left: 20%;
  top: 10%;
  color: var(--off-white);
  font-size: 13rem;
  opacity: 100%;
  z-index: 0;
}

.dynasty-header {
  position: absolute;
  top: -6rem;
  font-size: 2.5rem;
}

@media only screen and (max-width: 1024px) {
  .dynasty-container {
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }

  .dynasty-text-container {
    padding: 0 1rem;
    width: 50%;
    min-width: 380px;
  }
  
  .dynasty-text-container a {
    position: static;
  }

  .dynasty-img-container {
    padding: 0 1rem;
    transform: translateY(-3rem);
  }

  .border-accent {
    width: 100%;
  }

  .dynasty-header {
    top: -12rem;
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .border-accent {
    display: none;
  }

  .dynasty-img-container {
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    height: auto;
    transform: translateY(0rem);

  }

.dynasty-container img {
  width: 100%;
  height: auto;
}
  
  .dynasty-container {
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    gap: 2rem;
  }

  .dynasty-text-container {
    padding: 0;
    width: 100%;
    min-width: 0;
  }

  .dynasty-header {
    position: static;
    top: -10rem;
  }
  
}

@media screen and (max-width: 1024px) and (min-width: 770px) {
  .dynasty-container {
    margin-bottom: 5rem;
  }
}