.root-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(140px);
    overflow-x: hidden;
}

:root {
    --black: #141414;
    --white: #ffffff;
    --off-white: #f0f0f0;
    --gray: #dcdcdc;
    --secondary-font: "EB Garamond", serif;
  }

  .nav-container {
    height: auto;
    width: 100vw;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
  }