#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  width: auto;
  height: 140px;
  width: 100%;
  padding: 0 8rem;
  transition: 200ms ease;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-weight: 500;
  height: 100%;
}

.nav-ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: 400;
  width: 100px;
}

.nav-ul li a:hover {
  background-color: black;
  color: white;
  border-radius: 0 0 3px 3px;
}

.logo-header-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header-container img {
  height: 75%;
  /* transform: translateX(-2rem); */
}

#burger {
  display: none;
}

.mobile-nav {
  display: none;
}

.hamburger {
  display: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 1165px) {
  #header {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 768px) {

    .nav-ul li a:hover {
        background-color: transparent;
        color: var(--black);
        border-radius: 0;
      }
  #desktop-nav {
    display: none;
  }

  #burger {
    display: flex;
    height: 65px;
    width: 65px;
    /* border: solid red; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    gap: .8rem;
  }

  .burger-line1 {
    width: 90%;
    height: 1px;
    background-color: var(--black);
  }
  .burger-line2 {
    width: 65%;
    height: 1px;
    background-color: var(--black);
  }

  .mobile-nav {
    right: -65vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--black);
    position: fixed;
    width: 65vw;
    height: 100vh;
    transition: 200ms ease;
    padding: 2rem;
    z-index: 60;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }

  .mobile-nav ul li {
    height: 100px;
    width: 100%;
    border-radius: 5px;

  }

  .mobile-nav ul li a {
    width: 100%;
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;

  }

  .mobile-nav ul li a:hover {
    color: var(--white);
  }

  /* From Uiverse.io by elijahgummer */ 
.toggle-checkbox {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35px;
  height: 24px;
  cursor: pointer;
}

.hamburger .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 10px;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
  position: relative;
}

.toggle-checkbox:checked + .hamburger .bar:nth-child(2) {
  transform: translate(0px, 10px);
  opacity: 0;
  transition-delay: 0.1s;
}

.toggle-checkbox:checked + .hamburger .bar:nth-child(3) {
  transform: translate(0px, -10px);
  transition-delay: 0s;
}

.toggle-checkbox:checked + .hamburger .bar:nth-child(1) {
  transform: rotate(-45deg) scale(0.7);
  transition-delay: 0.4s;
}
.toggle-checkbox:checked + .hamburger .bar:nth-child(3) {
  transform: rotate(45deg) scale(0.7);
  transition-delay: 0.4s;
}

}

@media only screen and (max-width: 425px) {
    #header {
        padding: 0 1rem;
    }
}
